 
body { 
    height: 100%;
    font-size: 1rem;
}

.gradient {
    background: rgb(224,189,189);
    background: linear-gradient(90deg, rgba(224,189,189,1) 26%, rgba(209,25,40,1) 67%);
}
.page-header {
    margin-top: 4rem;
    font-size: 1.25rem;
    color:white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.img-fluid {
    height:90px;
    width:90px;
}
.feature {
    color:white;

}

.feature ul {
    padding-left: 2rem;
    list-style-type: none;
}

.feature ul li {
    padding-left: 2rem;
    background-image: url(music.svg);
    background-repeat:no-repeat;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}
.icon {
    color: #fff;
    height: 5rem;
    width: 5rem;
    font-size: 1.75rem;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }


  .gallery {
    background-color: whitesmoke;
  }
  
  .gallery img {
    border-radius: 5%;
  }
  
  .services {
    color: #fff;
  }
  
  footer {
    color: #fff;
    font-size: 1rem;
    margin: 0;
    padding: 1rem;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }